:root {
  --color-primary: #f93e6c;
  --color-primary-hover: #e93662;
  --color-primary-soft: #fde8ee;

  --color-secondary: #0f1524;
  --color-secondary-hover: #181f32;

  --color-background: #fdf9f8;
  --color-surface: #fbf6f4;
  --color-surface-bright: #fefdfb;
  --color-surface-muted: #f9f2ef;

  --color-text: #181b29;
  --color-text-secondary: #525159;
  --color-text-muted: #7e7d82;

  --color-border: #dfdddc;
  --color-border-strong: #ceced0;

  --color-success: #3faf72;
  --color-warning: #e8a52a;
  --color-danger: #e94b68;
  --color-info: #3f84ce;
}
